/.idea

/target

/*.wav
/*.ws_model
/*.arff

/stats
!/stats/.gitkeep
/debug
!/debug/.gitkeep
/classifiers
!/classifiers/.gitkeep
/tmp
!/tmp/.gitkeep
/logs
!/logs/.gitkeep

/wave_stats_state.json
/*.jar
